
	// start .header
	.header {
		transition: all .3s ease-in-out, padding-right 0s;
		background-color: $white;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100vw;
		padding: 24px 0 ;
		&__img-box{
			img {
				width: 100%;
				object-fit: cover;
			}
		}
		&__call-stroke{
			.row{
			}
			a{
				color: $dark-blue;
				font-size: 24px;
				font-weight: 400;
				line-height:calc(28/24);
				text-decoration: none;
			}
			.btn{
				font-size: rem(16);
				line-height: calc(19/16);
				padding: 16px 24px;
				border-radius: 40px ;
				font-weight: 700;
			}
		}

} // end.header